@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/fonts/RobotoFlexCyrillic.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/fonts/RobotoFlexLatin.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/fonts/RobotoFlexLatinExt.woff2') format('woff2');
}
:root {
    --green: #30c148;
    --red: #e74949;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto Flex", "Roboto Flex Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    background-color: unset;
    border: unset;
}
*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent; /* or add it to the track */
}
*::-webkit-scrollbar-thumb {
    background-color: #464646;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #282828;
}
body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
input {
    background-color: unset;
    border: unset;
    padding: unset;
    width: unset;
    height: unset;
    min-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: unset;
}

.note {
    width: 90%;
    margin: 0 auto;
    /*margin-top: 20px;*/
    height: calc(100vh - 40px);
    border: 1px solid #525252;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.note__header {
    display: flex;
    row-gap: 10px;
    border-bottom: 1px solid #525252;
    padding: 10px;
    overflow-x: auto;
}
.note__header__container {
    position: relative;
}

.note__header__container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 7px;
    width: 40px;
    height: calc(100% - 1px);
    background: linear-gradient(90deg,rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 1) 75%);
}

.note__header::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.note__header label {
    flex-shrink: 0;
}
.note__header input._green {
    color: var(--green);
}

.note__header input._red {
    color: var(--red);
}

.note__body {
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex: 1;
    max-height: 100%;
    overflow: hidden;
}
.note__block {
    border: 1px solid #525252;
    border-radius: 7px;
    width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.note__block:nth-child(3) {
    height: fit-content;
}
.note__block__name {
    padding: 10px;
    border-bottom: 1px solid #525252;
}
.note__block__content {
    padding: 10px;
    padding-bottom: 5px;
    overflow: auto;
    flex: 1;
}

.note__block._sessions {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 40;
    background-color: #282828;
    box-shadow: 0 0 17px 1px #00000038;
    width: 600px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(120%);
    transition: .5s all;
}
.note__block._sessions._show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}
.note__block__offer {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #363636;
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: .2s all;
    align-items: center;
}
.note__block__offer__container {
    position: relative;
}
.note__block__offer._red {
    background-color: var(--red);
}

.note__block__offer._green {
    background-color: var(--green);
}
.note__block__offer._session {
    border: 1px solid transparent;
}
.note__block__content__edit {
    cursor: pointer;
}
.note__block__offer__delete {
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(1) drop-shadow(0px 1px 4px black);
    font-size: 8px;
    cursor: pointer;
}
.note__block__offer__delete._right {
    left: unset;
    right: 0;
}
.note__block__content [name='close-price'] {
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    padding: 2px 4px;
    width: 70px;
}

.note__block__mark {
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 12px;
    z-index: 4;
}
.note__block__offer span._green {
    color: var(--green);
}
.note__block__offer span._red {
    color: var(--red);
}
.note__footer {
    padding: 10px;
    border-top: 1px solid #525252;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.note__footer__block {
    display: flex;
    align-items: center;
}
.note__footer input {
    border: 1px solid #525252;
    border-radius: 7px;
    padding: 7px 10px;
}
.note__footer input[name='start-sum'] {
    margin-left: 5px;
}

.note__footer button {
    background-color: #464646;
    padding: 8px 25px;
    border-radius: 7px;
    margin-left: 5px;
    cursor: pointer;
}
button.note__footer__restart {
    background-color: var(--red);
}
button.note__footer__sessions {
    filter: grayscale(1) brightness(1.5);
    background-color: #222222;
    font-size: 18px;
    padding: 4px;
}

@media (max-width: 1200px) {
    .note__header {
        padding-left: 20px;
    }
    .note__header__container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 7px;
        width: 20px;
        height: calc(100% - 1px);
        background: linear-gradient(270deg,rgba(0, 0, 0, 0) 0%, rgba(40, 40, 40, 1) 75%);
    }
}

@media (max-width: 990px) {
    .note__block {
        width: calc(50% - 6px);
    }
    .note__block:nth-child(3) {
        width: 100%;
    }
}

@media (max-width: 840px) {
    * {
        font-size: 10px;
    }
    button.note__footer__sessions {
        font-size: 13px;
        padding: 5px;
    }
    .note__block._sessions {
        width: calc(100% - 20px);
    }
}
@media (max-width: 640px) {
    .note {
        width: 99%;
    }
    .note__header {
        padding: 10px 5px;
        padding-left: 15px;
    }
    .note__header__container::before {
        width: 17px;
    }
    .note__body {
        gap: 5px;
        padding: 5px;
    }
    .note__block {
        width: calc(50% - 3px);
    }
    .note__block__name {
        padding: 6px 10px;
    }
    .note__block__content {
        padding: 5px;
    }
    .note__block__offer {
        padding: 5px 6px;
        border-radius: 4px;
        margin-bottom: 3px;
    }
    .note__block__offer__delete {
        font-size: 6px;
    }
    .note__footer {
        flex-wrap: wrap;
        gap: 8px;
        padding: 10px 5px;
    }
    .note__footer button {
        margin: 0;
        border-radius: 5px;
    }
    .note__footer__block {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 7px;
    }
    .note__footer__block:nth-child(2) {
        grid-template-columns: 1fr 1fr;
    }
    .note__footer__block label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }
    .note__footer__block label input {
        width: 100%;
        border-radius: 5px;
    }
    .note__block._sessions {
        right: 6px;
        width: calc(100% - 11px);
    }
    .note__block__mark {
        top: 3px;
        left: -8px;
    }
    .note__block__offer__delete._right {
        top: 7px;
        right: -4px;
        z-index: 4;
    }
    .note__block__offer._session {
        overflow-x: auto;
        gap: 10px;
    }
    .note__block__offer._session span {
        flex-shrink: 0;
    }
    .note__block__offer._session::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

}
@media (max-width: 460px) {
    .note__block__offer__container::after {
        content: '';
        position: absolute;
        top: 1px;
        right: 1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 30px;
        height: calc(100% - 2px);
        background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, #363636 100%);
    }
    .note__block__offer__container::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 15px;
        height: calc(100% - 2px);
        background: linear-gradient(270deg,rgba(0, 0, 0, 0) 0%, #363636 100%);
        z-index: 3;
    }
}
@media (max-width: 430px) {
    .note__body {
        flex-direction: column;
    }
    .note__block {
        width: 100%;
    }
    .note__block:nth-child(2) {
        order: 3;
    }
}